@using PTTDATALOAD.mvc.Models;
@{
    ViewBag.Title = "PTTcontext";
    List<PTTDATAtype> cards = ViewBag.cards;
     Layout = null;
}
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PTTcontext</title>


    </head>
    <body bgcolor="black" text="white">


        @foreach (PTTDATAtype card in cards)
        {


            <pre>  @card.context   </pre>


        }
    </body>
    </html>
