@{ 
    Layout = null;
}
<html>
<center>
    <head>
        </head>
    <body style="background-color:black;color:white">
        <h2>輸入查詢關鍵字</h2>


        <form method="post" action="/Home/TitleSearch">
            <div class="form-group row">
                <label for="inputCharName" class="col-sm-2">輸入查詢關鍵字</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" />
                </div>
            </div>

            <input class="btn btn-default" type="submit" value="查詢" />
        </form>

    </body>
    </center>
</html>

