@{ 
      Layout = null;
}

<html>
<center>

<head>
</head>
<body style="background-color:black;color:white">
   <meta name="viewport" content="width=device-width" />
    <h2>輸入查詢人氣</h2>
    <br />

    <form method="post" action="/Home/Search">
        <div class="form-group row">
            <label for="inputCharName" class="col-sm-2">輸入查詢人氣</label>
            <div class="col-sm-10">
                <input type="text" name="pop" class="form-control" />
            </div>
        </div>

        <input class="btn btn-default" type="submit" value="查詢" />
    </form>

    </body>
    </center>
</html>