
<h2>搜尋</h2>

<br />

<form method="post" action="/Home/Search">
    <div class="form-group row">
        <label for="InputSearchvalue" class="col-sm-2">搜尋數值</label>
        <div class="col-sm-10">
            <input type="text" name="POP" />
        </div>

    </div>
    <input class="btn btn-default" type="submit" value="搜尋" />
</form>



